@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
::-webkit-scrollbar{
    display: none;
}
a{
    text-decoration: none;
}
body,html{
    overflow-x: hidden !important;
}
.logo{
    font-family: 'Acme',sans-serif;
}
.badge{
    background:#f50057;
   
}
.navbar{
    width: 100vw !important;
    .logo{
        width: 5rem;
    }
}
.header{
    height: 100vh;
    .display-3{
        font-weight: 900;
    }
}
.status-bar i{
    font-size: 1.3rem;
}
.text-purple{
    color:#c400f5;
}
.text-pink{
    color: #e933a3;
}
.products{
    width: 100vw;
    margin: auto;
    .nav-link{
        color: black;
    }
    .active{
        background: black !important;
        color: white !important;
    }
    .item-image{
       width:8rem;
       height: 8rem;
       

    }
    .lead{
        font-size: 0.9rem;
        padding-left: 0.3rem;
    }
    .price{
        text-align: right !important;
        padding-left: 0.3rem;

    }
    .price-area{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .heading{
        font-weight: 600;
    }
}
.footer{
    background: black;
    .lead{
        font-size: .89rem;
    }
    .social{
        font-size: 1.4rem;
        width:2.5rem;
        height:2.5rem;
        margin: 0.8rem;
        border: 1px solid gray;
        padding: 0.5rem;
        border-radius: 1.25rem;
        text-align: center;

    }
    .display-5{
        font-size: 2rem;
    }
    .inner{
        display: flex;
        justify-content: space-around;
        flex-wrap:wrap;
        border-bottom: 1px solid grey;
        h4{
            text-align: center;
        }

        ul{
            list-style: none;
            text-decoration: none;
            li{
                padding: 1rem;
            }
        }
        .contact-item{
            display: flex;
            align-items: center;
        }
    }
}
.navbar{
    box-shadow: 0.1rem 0.1rem 0.1rem  gray;
}
.fixed-top{
    width: 100%;
    overflow: hidden !important;
}
.subscribe{
    width: 100%;
    height: 20vh;
    align-items: center;
    justify-content: center;
    display: flex;
    // background: url(assets/images/bg.webp);
}

.header{
    height: 100vh;
   background-position: center;
   background-size: cover;
   .amount{
       font-weight: 600;
   }
}
.center{
    margin: auto;
    .nav-link{
        margin-right: 1.4rem;

    }
    
}
.mat{
    margin-top: 4rem !important;
}
.bg-pink{
    width:10rem;
    height: 3rem;
    margin-top: 4rem !important;
    background:#e933a3 !important;
    color: #fff !important;
    border: none;
    outline: none;
}
.bg-red{
    width:10rem;
    height: 3rem;
    margin-top: 2rem !important;
    background:#dc3545 !important;
    color: #fff !important;
    border: none;
    outline: none;
}
.buy{
    width:10rem;
    height: 3rem;
    background: #c400f5 !important;
    color: #fff !important;
    border: none;
    outline: none;
}
.c-item{
    height: 100vh;
}
.advert{
    background: #000;
}
.link{
    text-decoration: none;
}
.navigation{
    justify-content:center;
    align-items: center;
    margin: 0 auto;
}
